*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#0f0f0f,#1a1a1a);
    color:white;
    overflow-x:hidden;
}

/* Navbar */
.navbar{
    position:sticky;
    top:0;
    backdrop-filter:blur(15px);
    background:rgba(24,24,24,0.6);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    z-index:1000;
    animation:fadeDown 1s ease;
}

.logo{
    font-size:26px;
    font-weight:700;
}

.logo span{
    color:#ff0000;
}

.search-box{
    display:flex;
    width:40%;
}

.search-box input{
    flex:1;
    padding:10px;
    border:none;
    border-radius:30px 0 0 30px;
    outline:none;
}

.search-box button{
    padding:10px 20px;
    border:none;
    background:#ff0000;
    color:white;
    border-radius:0 30px 30px 0;
    cursor:pointer;
    transition:0.3s;
}

.search-box button:hover{
    background:#cc0000;
}

/* Sidebar */
.sidebar{
    position:fixed;
    top:80px;
    left:0;
    width:220px;
    height:100%;
    background:#121212;
    padding-top:20px;
}

.sidebar a{
    display:block;
    padding:12px 25px;
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.sidebar a:hover{
    background:#282828;
}

/* Main */
.main-content{
    margin-left:240px;
    padding:30px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

/* Video Card */
.video-card{
    background:#181818;
    border-radius:20px;
    overflow:hidden;
    transition:0.4s;
    animation:fadeUp 1s ease;
}

.video-card:hover{
    transform:translateY(-10px) scale(1.03);
    box-shadow:0 20px 40px rgba(255,0,0,0.3);
}

.thumbnail{
    position:relative;
    overflow:hidden;
}

.thumbnail img{
    width:100%;
    height: 300px;
    transition:0.5s;
}

.video-card:hover img{
    transform:scale(1.1);
}

.play-btn{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:40px;
    opacity:0;
    transition:0.4s;
    color: white;
}

.video-card:hover .play-btn{
    opacity:1;
}

.video-info{
    padding:15px;
}

a{
    text-decoration:none;
    color:white;
}

/* Animations */
@keyframes fadeDown{
    from{opacity:0; transform:translateY(-30px);}
    to{opacity:1; transform:translateY(0);}
}

@keyframes fadeUp{
    from{opacity:0; transform:translateY(40px);}
    to{opacity:1; transform:translateY(0);}
}

/* Responsive */
@media(max-width:900px){
    .sidebar{
        display:none;
    }
    .main-content{
        margin-left:0;
    }
    .search-box{
        width:60%;
    }
}