.body{
    background:#181818;
    color:white;
    overflow-x:hidden;
}
    .main-content{
    padding:30px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.navbar{
    position:sticky;
    top:0;
    backdrop-filter:blur(15px);
    background:rgba(24,24,24,0.6);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:15px 40px;
    z-index:1000;
    animation:fadeDown 1s ease;
}

.logo{
    font-size:26px;
    font-weight:700;
}

.logo span{
    color:#ff0000;
}
.video-card{
    background:#181818;
    border-radius:20px;
    overflow:hidden;
    transition:0.4s;
    animation:fadeUp 1s ease;
}

.video-card:hover{
    transform:translateY(-10px) scale(1.03);
    box-shadow:0px 20px 40px rgba(255,0,0,0.3);
}

.thumbnail{
    position:relative;
    overflow:hidden;
}

.thumbnail img{
    width:100%;
    height: 300px;
    transition:0.5s;
}

.video-card:hover img{
    transform:scale(1.1);
}

.video-info{
    padding:15px;
}

a{
    text-decoration:none;
    color:white;
}

.vidbox{
    display:flex;
    justify-content:center;
    margin-top:30px;
    background-color: #181818;
}

.vidbox video{
    border-radius: 30px;
}

.vidbox video:hover{
    box-shadow:0 20px 40px rgba(255,0,0,0.3);
}

.thumbnail video{
    width:100%;
    height: 300px;
}

.sea1{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}